<CascadingAuthenticationState>
    <Router AppAssembly="typeof(MauiProgram).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData"
                                DefaultLayout="typeof(MLMConquerorGlobalEdition.SharedComponents.Components.Layout.AdminLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity!.IsAuthenticated)
                    {
                        <RedirectToAdminLogin />
                    }
                    else
                    {
                        <p class="text-danger">You are not authorized to access this admin area.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>
