<Router AppAssembly="typeof(Program).Assembly"
        AdditionalAssemblies="new[] { typeof(MLMConquerorGlobalEdition.BizCenterWeb.Client._Imports).Assembly }"
        NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData"
                            DefaultLayout="typeof(MLMConquerorGlobalEdition.SharedComponents.Components.Layout.MainLayout)">
            <NotAuthorized>
                @if (!context.User.Identity!.IsAuthenticated)
                {
                    <RedirectToLogin />
                }
                else
                {
                    <p class="text-danger p-4">You are not authorized.</p>
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
