@page "/not-found"
@layout MLMConquerorGlobalEdition.SharedComponents.Components.Layout.BlankLayout
@inject Microsoft.Extensions.Localization.IStringLocalizer<MLMConquerorGlobalEdition.SharedComponents.Resources.SharedResources> L

<PageTitle>@L["PageTitle.NotFound"]</PageTitle>

<h3>@L["NotFound.Title"]</h3>
<p>@L["NotFound.Message"]</p>
<a href="/">@L["NotFound.GoToDashboard"]</a>
